.app-title {
    text-align: center;
    margin: 30px 0px;
}

.app-form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

.app-form .card {
    width: 45%; 
    min-width: 310px;
    padding: 20px;
    align-items: center;
}

/* LEFT CARD */
.form-group {
    display: flex;
    justify-content: center;
}

.form-group table {
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 75%;
}

.form-group td:first-child {
    width: 50%;
    vertical-align: bottom;
}

.form-group td:nth-child(2) {
    width: 10px;
    vertical-align: middle;
}

.form-group td:last-child {
    vertical-align: middle;
}

.form-label {
    margin-bottom: 6px;
}

.form-group-ratio {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* LEFT CARD */

/* RIGHT CARD */
.form-group-staff-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.staff-input-label {
    margin: 20px 0px;
}

.staff-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 268px;
    max-height: 250px;
    overflow-y: scroll;
    width: 65%;
    margin-bottom: 30px;
    padding: 0px 5px;
}

.warning-message {
    color: red;
}
/* RIGHT CARD */

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* BOTTOM CARD */
.result {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.result .card {
    width: calc(93.33% + 15px);
    text-align: center;
}

.result-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.result-label {
    margin: 20px 0px;
}

.result-schedule {
    max-width: 1200px;
    max-height: 400px;
    overflow: auto;
    padding: 5px 5px;
}

.result-schedule::-webkit-scrollbar, .staff-input::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.result-schedule::-webkit-scrollbar-thumb, .staff-input::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 6px;
}

.result-schedule::-webkit-scrollbar-thumb:hover, .staff-input::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.result-schedule::-webkit-scrollbar-track, .staff-input::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.result-schedule table {
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
}

.result-schedule table, .result-schedule th, .result-schedule td {
    border: 1px solid white ;
    border-collapse: collapse;
    padding: 10px;
} 

.result-schedule th:not(:first-child) {
    min-width: 120px;
    height: 40px;
    background-color: #cfdde9;
}

.result-schedule th:first-child, .result-schedule tr td:first-child {
    min-width: 80px;
    height: 40px;
    background-color: #cfdde9;
}

/* BOTTOM CARD */

@media (max-width: 1024px) {
    .result-schedule {
        max-width: 800px;
        max-height: 500px;
        overflow: auto;
        padding: 5px 5px;
    }
}

@media (max-width: 769px) {
    .form-group table {
        width: 100%;
    }
    .result-schedule {
        max-width: 650px;
        max-height: 500px;
        overflow: auto;
        padding: 5px 5px;
    }
    .staff-input {
        width: 270px;
        padding: 0px 5px;
    }
}

@media (max-width: 426px) {
    .result .card {
        width: 310px;
    }
    .result-schedule {
        max-width: 260px;
        max-height: 260px;
        overflow: auto;
        padding: 5px 5px;
    }
    .staff-input {
        width: 265px;
        padding: 0px 5px;
    }
}